<!doctype html>
<html>
<head>
<title> Monthly Expenses </title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mortgage/style.css' %}">

<h1> Monthly Expenses details </h1>

<style >
       
        table,th,td {
 		     border:1px solid blue;
		     border-collapse:collapse;
		     padding:5px;
		     text-align:left;
</style>

</head>
<body>
   <table>
	<tr>
            <th>Item</th>
            <th>Price</th>
	    <th>Pub_date</th?
         </tr>
			
           {% for k,v in Total_monthly_expenses.items %}
		<tr>
                   <td>{{k}} </td> <td> {{v}}</td> <td>{{x}}</td>
                 </tr>
             {% endfor %}
     </table>

 <!---Total monthly expenses is {{Total_monthly_expenses}}---->
 </body>
<a href="{% url 'mortgage:monthly_expenses' %}"><input type="submit" value="Add more items"> </a>
</html>